*
{
  font-family: Arial, Helvetica, sans-serif ;
  margin: 0;
}

.title
{
  text-align: center;
  background-color: #000;
  color: #e1f317;
  font-size: 34px;
  font-weight: 700;
}

body
{
  font-size: 16px;
}

.contener
{
  width: 100%;
}

/* Header */

header 
{
  background-color: rgb(162, 159, 159);
  width: 100%;
  height:auto;

}