*
{
  font-family: Arial, Helvetica, sans-serif ;
  margin: 0;
}

.title
{
  text-align: center;
  background-color: #000;
  color: #e1f317;
  font-size: 34px;
  font-weight: 700;
}

body
{
  font-size: 16px;
}

.contener
{
  width: 100%;
}

/* Header */

header 
{
  background-color: rgb(162, 159, 159);
  width: 100%;
  height:auto;
}

header .navigation
{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 10px 10px  5px 10px;
}

/* logo */

.logo
{
  text-decoration: none;
  color: #c904ff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 29px;
}

/* navigation menu */

.navigation-menu a
{
  color: #a72fcc;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-left: 40px;
}

.navigation-menu a:hover
{
  color: hsla(0, 6%, 16%, 0.31);
  text-decoration-line:underline;
}

/* home */

.container .header .home
{
  display: flex;
  height: 878px;
}

.home-details
{
  width: 100%;
  background: rgb(0, 0, 0);
  padding-left: 170px;
  padding-top: 207px;
}

.home .home-details h2 
{
  color: rgb(255, 238, 0);
  display: inline-block;
  margin-top: 30px;
  font-size: 48px;
  font-weight: 600;
}

.home .home-details p
 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 43px;
  margin-bottom: 30px;
}

.home .home-details .home-btn 
{
  color: rgb(0, 0, 0);
  background-color: #e2ec16;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  padding: 15px 35px;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 18px;
  transition: 0.5s ease;
  margin-left: 104px ;
}

.home .home-details .home-btn:hover 
{
  background-color: #fafafa;
  transform: scale(1.1);
}

.home .home-details .image
{
  position:absolute;
  right:50px;
  width: 350px; 
  height: 500px;
  top: 102px;
}

/* projects */
.projects
{
  background-color: #000;
  height: 798px;
}

.projects .title
{
  padding-bottom: 19px;

}

.projects .about
{
  width:100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s ease;
}

.project-details
{
  width:100%;
  transition: 0.7s ease;
  background-color: #000;
  padding-top: 34px;
}

.project-details :hover
{
  transform: scale(1.1);
}

.project-details img
 {
  width: 447px;
  border: 1px solid rgb(250, 250, 250);
  overflow: hidden;
  border-radius: 42px;
  margin-left: 127px;
  margin-bottom: 30px;
 }

.project-details :hover img
{
  opacity: 0.9;
}

.project-details h3
{
  color: rgb(69 165 73);
  text-align: center;
  margin-top: 2px;
}

.projects .project-details  p
{
  font-size:19px;
  font-weight: 500;
  color: #fefefe;
  text-align: center;
  margin-top: 18px;
  padding-right: 0px;
}

/* Skills */

.skills
{
  background-color: #000;
  height: 775px;
}

.skills .title
{
  padding-bottom: 100px;
}

.skills  .column
{
  width: calc(70% - 3px);
  margin-left: 115px;
}

.skills  .bars
{
  margin-bottom: 26px;
}

.skills .info
{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  color: rgb(228, 225, 225);
}

.skills  p
{
  font-weight: 500;
  font-size: 19px;
}

.skills  .line
{
  height: 5px;
  background: rgb(211, 211, 211);
  position: relative;
}

.skills  .line::before
{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(220, 20, 170);
}

skills .html::before
{
  width: 80%;
}

.skills  .css::before
{
  width: 60%;
}

.skills .js::before
{
  width: 40%;
}

/* contact */
.contacts
{
height: 600px;
background: #000;
padding: 0 15px;
}

.contacts img
{
  width: 314px;
  position: absolute;
  margin-top: 145px;
  margin-right: 132px;
  right: 0px;
}

.contact
{
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 5px rgba(1 1 1 / 15%);
  border-radius: 7px;
  padding: 64px;
  margin: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  margin-left: 200px;
}

.contact .info h3
{
  color: rgb(218, 137, 203);
  margin-left: 34px;
  margin-top: 14px;
  font-size: 22px;
}