*
{
  font-family: Arial, Helvetica, sans-serif ;
  margin: 0;
}

.title
{
  text-align: center;
  background-color: #000;
  color: #e1f317;
  font-size: 34px;
  font-weight: 700;
}

body
{
  font-size: 16px;
}

.contener
{
  width: 100%;
}

/* Header */

header 
{
  background-color: rgb(162, 159, 159);
  width: 100%;
  height:auto;
}

header .navigation
{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 10px 10px  5px 10px;
}

/* logo */

.logo
{
  text-decoration: none;
  color: #c904ff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 29px;
}

/* navigation menu */

.navigation-menu a
{
  color: #a72fcc;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-left: 40px;
}