*
{
  font-family: Arial, Helvetica, sans-serif ;
  margin: 0;
}

.title
{
  text-align: center;
  background-color: #000;
  color: #e1f317;
  font-size: 34px;
  font-weight: 700;
}

body
{
  font-size: 16px;
}

.contener
{
  width: 100%;
}

/* Header */

header 
{
  background-color: rgb(162, 159, 159);
  width: 100%;
  height:auto;
}

header .navigation
{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 10px 10px  5px 10px;
}

/* logo */

.logo
{
  text-decoration: none;
  color: #c904ff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 29px;
}

/* navigation menu */

.navigation-menu a
{
  color: #a72fcc;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-left: 40px;
}

.navigation-menu a:hover
{
  color: hsla(0, 6%, 16%, 0.31);
  text-decoration-line:underline;
}

/* home */

.container .header .home
{
  display: flex;
  height: 878px;
}

.home-details
{
  width: 100%;
  background: rgb(0, 0, 0);
  padding-left: 170px;
  padding-top: 207px;
}

.home .home-details h2 
{
  color: rgb(255, 238, 0);
  display: inline-block;
  margin-top: 30px;
  font-size: 48px;
  font-weight: 600;
}

.home .home-details p
 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 43px;
  margin-bottom: 30px;
}

.home .home-details .home-btn 
{
  color: rgb(0, 0, 0);
  background-color: #e2ec16;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  padding: 15px 35px;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 18px;
  transition: 0.5s ease;
  margin-left: 104px ;
}

.home .home-details .home-btn:hover 
{
  background-color: #fafafa;
  transform: scale(1.1);
}

.home .home-details .image
{
  position:absolute;
  right:50px;
  width: 350px; 
  height: 500px;
  top: 102px;
}

/* projects */
.projects
{
  background-color: #000;
  height: 798px;
}

.projects .title
{
  padding-bottom: 19px;

}

.projects .about
{
  width:100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s ease;
}

.project-details
{

  width:100%;
  transition: 0.7s ease;
  background-color: #000;
  padding-top: 34px;

}

.project-details :hover
{
  transform: scale(1.1);
}
